<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackPlayerShip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{34,42}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{34,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>BlackProjectile.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{19,13}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>BlackShip.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{36,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>WhitePlayerShip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,42}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{34,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>WhiteProjectile.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{19,13}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>WhiteShip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{36,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{36,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ships.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62124ea4484500bbfe287be0c08fd1bc:1/1$</string>
            <key>textureFileName</key>
            <string>Ships.png</string>
        </dict>
    </dict>
</plist>
